@model IEnumerable<NHOM1.Models.QuanLyNV>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create</a>
</p>
<table class="table table-bordered">
    <thead class="table-dark">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MaNV">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MaNV">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaNV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
