@model NHOM1.Models.QuanLyNguonHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuanLyNguonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XuatXu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XuatXu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
